{{- if .Values.webhooks.enabled -}}
---
# Webhook Service
apiVersion: v1
kind: Service
metadata:
  name: {{ include "garage-operator.webhookServiceName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "garage-operator.labels" . | nindent 4 }}
spec:
  ports:
  - name: https
    port: 443
    protocol: TCP
    targetPort: webhook
  selector:
    {{- include "garage-operator.selectorLabels" . | nindent 4 }}
---
{{- if .Values.webhooks.certManager.enabled }}
# Self-signed issuer for webhook certificates
{{- if not .Values.webhooks.certManager.issuerName }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ include "garage-operator.fullname" . }}-selfsigned-issuer
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "garage-operator.labels" . | nindent 4 }}
spec:
  selfSigned: {}
---
{{- end }}
# Certificate for webhook
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "garage-operator.webhookCertName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "garage-operator.labels" . | nindent 4 }}
spec:
  secretName: {{ include "garage-operator.webhookCertName" . }}
  dnsNames:
  - {{ include "garage-operator.webhookServiceName" . }}
  - {{ include "garage-operator.webhookServiceName" . }}.{{ .Release.Namespace }}
  - {{ include "garage-operator.webhookServiceName" . }}.{{ .Release.Namespace }}.svc
  - {{ include "garage-operator.webhookServiceName" . }}.{{ .Release.Namespace }}.svc.cluster.local
  issuerRef:
    {{- if .Values.webhooks.certManager.issuerName }}
    name: {{ .Values.webhooks.certManager.issuerName }}
    kind: {{ .Values.webhooks.certManager.issuerKind }}
    {{- else }}
    name: {{ include "garage-operator.fullname" . }}-selfsigned-issuer
    kind: Issuer
    {{- end }}
  duration: {{ .Values.webhooks.certManager.duration }}
  renewBefore: {{ .Values.webhooks.certManager.renewBefore }}
---
{{- end }}
# MutatingWebhookConfiguration
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "garage-operator.fullname" . }}-mutating
  labels:
    {{- include "garage-operator.labels" . | nindent 4 }}
  {{- if .Values.webhooks.certManager.enabled }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "garage-operator.webhookCertName" . }}
  {{- end }}
webhooks:
- name: mgaragebucket.kb.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "garage-operator.webhookServiceName" . }}
      namespace: {{ .Release.Namespace }}
      path: /mutate-garage-rajsingh-info-v1alpha1-garagebucket
  failurePolicy: {{ .Values.webhooks.failurePolicy }}
  rules:
  - apiGroups:
    - garage.rajsingh.info
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garagebuckets
  sideEffects: None
- name: mgaragecluster.kb.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "garage-operator.webhookServiceName" . }}
      namespace: {{ .Release.Namespace }}
      path: /mutate-garage-rajsingh-info-v1alpha1-garagecluster
  failurePolicy: {{ .Values.webhooks.failurePolicy }}
  rules:
  - apiGroups:
    - garage.rajsingh.info
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garageclusters
  sideEffects: None
- name: mgaragekey.kb.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "garage-operator.webhookServiceName" . }}
      namespace: {{ .Release.Namespace }}
      path: /mutate-garage-rajsingh-info-v1alpha1-garagekey
  failurePolicy: {{ .Values.webhooks.failurePolicy }}
  rules:
  - apiGroups:
    - garage.rajsingh.info
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garagekeys
  sideEffects: None
- name: mgaragenode.kb.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "garage-operator.webhookServiceName" . }}
      namespace: {{ .Release.Namespace }}
      path: /mutate-garage-rajsingh-info-v1alpha1-garagenode
  failurePolicy: {{ .Values.webhooks.failurePolicy }}
  rules:
  - apiGroups:
    - garage.rajsingh.info
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garagenodes
  sideEffects: None
---
# ValidatingWebhookConfiguration
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: {{ include "garage-operator.fullname" . }}-validating
  labels:
    {{- include "garage-operator.labels" . | nindent 4 }}
  {{- if .Values.webhooks.certManager.enabled }}
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "garage-operator.webhookCertName" . }}
  {{- end }}
webhooks:
- name: vgarageadmintoken.kb.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "garage-operator.webhookServiceName" . }}
      namespace: {{ .Release.Namespace }}
      path: /validate-garage-rajsingh-info-v1alpha1-garageadmintoken
  failurePolicy: {{ .Values.webhooks.failurePolicy }}
  rules:
  - apiGroups:
    - garage.rajsingh.info
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garageadmintokens
  sideEffects: None
- name: vgaragebucket.kb.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "garage-operator.webhookServiceName" . }}
      namespace: {{ .Release.Namespace }}
      path: /validate-garage-rajsingh-info-v1alpha1-garagebucket
  failurePolicy: {{ .Values.webhooks.failurePolicy }}
  rules:
  - apiGroups:
    - garage.rajsingh.info
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garagebuckets
  sideEffects: None
- name: vgaragecluster.kb.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "garage-operator.webhookServiceName" . }}
      namespace: {{ .Release.Namespace }}
      path: /validate-garage-rajsingh-info-v1alpha1-garagecluster
  failurePolicy: {{ .Values.webhooks.failurePolicy }}
  rules:
  - apiGroups:
    - garage.rajsingh.info
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garageclusters
  sideEffects: None
- name: vgaragekey.kb.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "garage-operator.webhookServiceName" . }}
      namespace: {{ .Release.Namespace }}
      path: /validate-garage-rajsingh-info-v1alpha1-garagekey
  failurePolicy: {{ .Values.webhooks.failurePolicy }}
  rules:
  - apiGroups:
    - garage.rajsingh.info
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garagekeys
  sideEffects: None
- name: vgaragenode.kb.io
  admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: {{ include "garage-operator.webhookServiceName" . }}
      namespace: {{ .Release.Namespace }}
      path: /validate-garage-rajsingh-info-v1alpha1-garagenode
  failurePolicy: {{ .Values.webhooks.failurePolicy }}
  rules:
  - apiGroups:
    - garage.rajsingh.info
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garagenodes
  sideEffects: None
{{- end }}
